<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blaze_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>cd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>skill_controll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>thunder_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,57},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>toxicant_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,57},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xp_skill.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff1d7ba899b034f494ec613a2dbd91fe:1/1$</string>
            <key>textureFileName</key>
            <string>xp_skill.png</string>
        </dict>
    </dict>
</plist>
