<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xui_land_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1138,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,640}}</string>
                <key>sourceSize</key>
                <string>{1138,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XXUiLoginViewBg.png</string>
            <key>size</key>
            <string>{1142,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27776967c8306d94f06fd2affc18ed05:1/1$</string>
            <key>textureFileName</key>
            <string>XXUiLoginViewBg.png</string>
        </dict>
    </dict>
</plist>
