<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100001#display</key>
	<dict>
		<key>atk_pos</key>
		<string>0,0</string>
		<key>be_atk_pos</key>
		<string>0,0</string>
		<key>center_pos</key>
		<string>0,0</string>
		<key>default</key>
		<string>play</string>
		<key>desc</key>
		<string>人物1</string>
		<key>file</key>
		<string>hero_1.xml</string>
		<key>flipx</key>
		<string>0</string>
		<key>hp_bar_pos</key>
		<string>0,0</string>
		<key>id</key>
		<string>100001#display</string>
		<key>image_plist</key>
		<string>hero_1.plist</string>
		<key>image_texture</key>
		<string>hero_1.png</string>
		<key>maskfile</key>
		<string>0</string>
		<key>position_offset</key>
		<string>0,0</string>
		<key>scale</key>
		<string>0.5f</string>
		<key>size</key>
		<string>50,80</string>
		<key>skeleton</key>
		<string>hero_1</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<key>100002#skill</key>
	<dict>
		<key>atk_pos</key>
		<string>0,0</string>
		<key>be_atk_pos</key>
		<string>0,0</string>
		<key>center_pos</key>
		<string>0,0</string>
		<key>default</key>
		<string>happening</string>
		<key>desc</key>
		<string>晕眩</string>
		<key>file</key>
		<string>100002#skill.xml</string>
		<key>flipx</key>
		<string>0</string>
		<key>hp_bar_pos</key>
		<string>0,0</string>
		<key>id</key>
		<string>100002#skill</string>
		<key>image_plist</key>
		<string>100002#skill.plist</string>
		<key>image_texture</key>
		<string>100002#skill.png</string>
		<key>maskfile</key>
		<string>0</string>
		<key>position_offset</key>
		<string>0,0</string>
		<key>scale</key>
		<string>1.0f</string>
		<key>size</key>
		<string>74,40</string>
		<key>skeleton</key>
		<string>100002#skill</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<key>204201#display</key>
	<dict>
		<key>atk_pos</key>
		<string>0,40</string>
		<key>be_atk_pos</key>
		<string>0,40</string>
		<key>center_pos</key>
		<string>0,40</string>
		<key>default</key>
		<string>normal</string>
		<key>desc</key>
		<string>monsterxx_m_204201d.xml</string>
		<key>file</key>
		<string>xx_m_204201d.xml</string>
		<key>flipx</key>
		<string>1</string>
		<key>hp_bar_pos</key>
		<string>0,100</string>
		<key>id</key>
		<string>204201#display</string>
		<key>image_plist</key>
		<string>xx_m_204201d.plist</string>
		<key>image_texture</key>
		<string>xx_m_204201d.png</string>
		<key>maskfile</key>
		<string>0</string>
		<key>position_offset</key>
		<string>0,-10</string>
		<key>scale</key>
		<string>1.2</string>
		<key>size</key>
		<string>100,105</string>
		<key>skeleton</key>
		<string>xx_m_204201d</string>
		<key>type</key>
		<string>3</string>
	</dict>
</dict>
</plist>
