<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>960001</key>
	<dict>
		<key>id</key>
		<string>960001</string>
		<key>troop_1</key>
		<string>950001</string>
		<key>troop_1_difficulty</key>
		<string>0.027</string>
		<key>troop_2</key>
		<string>-1</string>
		<key>troop_2_difficulty</key>
		<string>-1</string>
		<key>troop_3</key>
		<string>-1</string>
		<key>troop_3_difficulty</key>
		<string>-1</string>
		<key>troop_4</key>
		<string>-1</string>
		<key>troop_4_difficulty</key>
		<string>-1</string>
		<key>troop_intervals</key>
		<string>1000</string>
		<key>troop_max_size</key>
		<string>1</string>
	</dict>
</dict>
</plist>
