<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>940127</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>28号字体黄色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>28</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940013</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>20号字体白字黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>20</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940024</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>14号字体灰色（卡牌等级显示）</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>14</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940014</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>14号字体白字黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>14</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940018</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>11号字体白字黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>11</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940044</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>18号字体白字黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940045</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>24号字体白字黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>24</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940015</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>18号字体黑字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940019</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>14号字体黑字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>14</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940022</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>11号字体黑字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>11</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940023</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>18号黄字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940049</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>18号棕色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>40220f</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940016</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>14号字体 怪物技能</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>14</string>
		<key>color</key>
		<string>C9A063</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940050</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>18号字体 怪物技能</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>956134</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940051</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>18号字体 任务字体</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>f8dcac</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940108</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>36号字体白色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940109</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>36号字体黄色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940128</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>20号字体黄色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>20</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940129</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>14号字体黄色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>14</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940149</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>30号字体黄色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>30</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940150</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>22号字体咖啡色白边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>22</string>
		<key>color</key>
		<string>40220F</string>
		<key>stroke_color</key>
		<string>FFDFB3</string>
	</dict>
	<key>940052</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>18号字体咖啡色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>40220F</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940054</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>28号字体咖啡色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>28</string>
		<key>color</key>
		<string>40220F</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940130</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>14号字体白底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>14</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940131</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>24号字体白底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>24</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940155</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>28号字体白底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>28</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940171</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>20号字体白底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>20</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940141</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>30号字体黑底白边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>30</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>FFFFFF</string>
	</dict>
	<key>940145</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>30号字体黑边白底</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>30</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940147</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>11号字体黑边白底</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>11</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940142</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>15号字体红底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>15</string>
		<key>color</key>
		<string>FF0000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940143</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>15号字体褐色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>15</string>
		<key>color</key>
		<string>B28247</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940144</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>14号字体红色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>14</string>
		<key>color</key>
		<string>FF0000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940132</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体白底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940135</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>15号字体白底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>15</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940160</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>16号字体白底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>16</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940161</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>21号字体白底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>21</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940136</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体白字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940137</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体绿字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>1DDE11</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940138</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体蓝字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>13EDF9</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940139</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体红字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>D61415</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940053</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>22号字体红字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>22</string>
		<key>color</key>
		<string>D61415</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940163</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>16号字体红字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>16</string>
		<key>color</key>
		<string>D61415</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940140</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体紫字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>C51FBF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940134</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体黄底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940146</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体红底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>FF0000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940133</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>24号字体黄底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>24</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940151</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>24号字体黄底黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>21</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940116</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>60号字体白色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>60</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940115</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>60号字体黄色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>60</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940117</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>60号字体绿色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>60</string>
		<key>color</key>
		<string>00FF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940118</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>60号字体橙色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>60</string>
		<key>color</key>
		<string>ff3300</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940119</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>100号字体绿色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>100</string>
		<key>color</key>
		<string>00FF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940120</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>100号字体橙色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>100</string>
		<key>color</key>
		<string>ff3300</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940111</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>45号字体白色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>45</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940205</key>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>name</key>
		<string>60</string>
		<key>font</key>
		<string>60.fnt</string>
		<key>size</key>
		<string>60</string>
		<key>color</key>
		<string>00000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940206</key>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>name</key>
		<string>110</string>
		<key>font</key>
		<string>110.fnt</string>
		<key>size</key>
		<string>110</string>
		<key>color</key>
		<string>00000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940203</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>排行版列名</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>50</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940202</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>充值界面项目名</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>60</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940103</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>白色描边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>40</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940204</key>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>name</key>
		<string>45</string>
		<key>font</key>
		<string>45.fnt</string>
		<key>size</key>
		<string>45</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940104</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>黄色描边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>40</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940201</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>选关界面关卡名</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>50</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940102</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>黄色描边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>50</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940101</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>白色描边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>50</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940001</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>36号字体白色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940002</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>36号字体黄色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940110</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>45号字体黄色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>45</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940006</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>45号字体白色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>45</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940010</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>60号字体白色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>60</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940007</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>45号字体黄色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>45</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940011</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>60号字体黄色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>60</string>
		<key>color</key>
		<string>FFFF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940003</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>36号字体黑色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940008</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>45号字体黑色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>45</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940012</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>45号字体黑色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>45</string>
		<key>color</key>
		<string>000000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>941002</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>红色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>30</string>
		<key>color</key>
		<string>00FF3030</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>941003</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>绿色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>30</string>
		<key>color</key>
		<string>00228B22</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>941004</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>黄色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>30</string>
		<key>color</key>
		<string>00FFC125</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>941005</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>蓝色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>30</string>
		<key>color</key>
		<string>001C86EE</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940121</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>36号字体白色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>FFFFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940122</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>36号字体绿色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>00FF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940123</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>36号字体蓝色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>00FFFF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940124</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>18号字体紫色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>18</string>
		<key>color</key>
		<string>FF00FF</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940125</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>36号字体红色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>FF0000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>940126</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>36号字体橙色黑边</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>36</string>
		<key>color</key>
		<string>FF7200</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>949001</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>绿色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>40</string>
		<key>color</key>
		<string>00FF00</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>949002</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>红色</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>40</string>
		<key>color</key>
		<string>FF0000</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
	<key>949003</key>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>name</key>
		<string>24号字体绿字</string>
		<key>font</key>
		<string>FZCuYuan-M03S</string>
		<key>size</key>
		<string>24</string>
		<key>color</key>
		<string>1DDE11</string>
		<key>stroke_color</key>
		<string>000000</string>
	</dict>
</dict>
</plist>
