<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>400001</key>
	<dict>
		<key>(2, 3)</key>
		<string>500001</string>
		<key>(2, 5)</key>
		<string>500001</string>
		<key>(4, 3)</key>
		<string>500001</string>
		<key>(4, 5)</key>
		<string>500001</string>
		<key>(6, 3)</key>
		<string>500001</string>
		<key>(6, 5)</key>
		<string>500001</string>
	</dict>
</dict>
</plist>
