<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100001</key>
	<dict>
		<key>action</key>
		<string>100000</string>
		<key>attack_ct</key>
		<string>2</string>
		<key>attack_range</key>
		<string>300</string>
		<key>bullet</key>
		<string>600001</string>
		<key>current_state</key>
		<string>20000</string>
		<key>desc</key>
		<string>100001#desc</string>
		<key>destory_effect</key>
		<string>950311#950312#950313#950314</string>
		<key>display</key>
		<string>204201#display</string>
		<key>drop_material</key>
		<string>15</string>
		<key>hp</key>
		<string>742</string>
		<key>hurt</key>
		<string>4</string>
		<key>id</key>
		<string>100001</string>
		<key>intervals</key>
		<string>76</string>
		<key>level</key>
		<string>1</string>
		<key>max_level</key>
		<string>2</string>
		<key>name</key>
		<string>100001#name</string>
		<key>next_level_id</key>
		<string>100002</string>
		<key>pic_img</key>
		<string>100001#pic_img</string>
		<key>race</key>
		<string>1</string>
		<key>rarity</key>
		<string>1</string>
		<key>reduce_hp_effect</key>
		<string>0</string>
		<key>skill_1</key>
		<string>-1</string>
		<key>skill_2</key>
		<string>-1</string>
		<key>skill_3</key>
		<string>-1</string>
		<key>speed</key>
		<string>76</string>
		<key>state</key>
		<string>200000</string>
		<key>type</key>
		<string>100001</string>
	</dict>
	<key>100002</key>
	<dict>
		<key>action</key>
		<string>100000</string>
		<key>attack_ct</key>
		<string>2</string>
		<key>attack_range</key>
		<string>300</string>
		<key>bullet</key>
		<string>600001</string>
		<key>current_state</key>
		<string>20000</string>
		<key>desc</key>
		<string>100001#desc</string>
		<key>destory_effect</key>
		<string>950311#950312#950313#950314</string>
		<key>display</key>
		<string>100002#display</string>
		<key>drop_material</key>
		<string>15</string>
		<key>hp</key>
		<string>742</string>
		<key>hurt</key>
		<string>10</string>
		<key>id</key>
		<string>100002</string>
		<key>intervals</key>
		<string>76</string>
		<key>level</key>
		<string>1</string>
		<key>max_level</key>
		<string>2</string>
		<key>name</key>
		<string>100001#name</string>
		<key>next_level_id</key>
		<string>100002</string>
		<key>pic_img</key>
		<string>100001#pic_img</string>
		<key>race</key>
		<string>1</string>
		<key>rarity</key>
		<string>1</string>
		<key>reduce_hp_effect</key>
		<string>0</string>
		<key>skill_1</key>
		<string>-1</string>
		<key>skill_2</key>
		<string>-1</string>
		<key>skill_3</key>
		<string>-1</string>
		<key>speed</key>
		<string>76</string>
		<key>state</key>
		<string>200000</string>
		<key>type</key>
		<string>100002</string>
	</dict>
</dict>
</plist>
