<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>200000</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>dead</string>
			<key>id</key>
			<string>10000</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>die</string>
			<key>id</key>
			<string>20000</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>30000</string>
		</dict>
		<key>4</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>40000</string>
		</dict>
		<key>5</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>50000</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>60000</string>
		</dict>
		<key>7</key>
		<dict>
			<key>animation</key>
			<string>arrived</string>
			<key>id</key>
			<string>70000</string>
		</dict>
		<key>8</key>
		<dict>
			<key>animation</key>
			<string>injured</string>
			<key>id</key>
			<string>80000</string>
		</dict>
		<key>9</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>90000</string>
		</dict>
	</dict>
</dict>
</plist>
