<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>20000</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>10005</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>20002</string>
		</dict>
		<key>4</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>40001</string>
		</dict>
		<key>41</key>
		<dict>
			<key>animation</key>
			<string>atkload</string>
			<key>id</key>
			<string>41001</string>
		</dict>
		<key>42</key>
		<dict>
			<key>animation</key>
			<string>atkhappening</string>
			<key>id</key>
			<string>42002</string>
		</dict>
		<key>5</key>
		<dict>
			<key>animation</key>
			<string>injured</string>
			<key>id</key>
			<string>50000</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>die</string>
			<key>id</key>
			<string>60000</string>
		</dict>
	</dict>
	<key>100000</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>10003</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>20000</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>30000</string>
		</dict>
		<key>4</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>40000</string>
		</dict>
		<key>41</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>41000</string>
		</dict>
		<key>42</key>
		<dict>
			<key>animation</key>
			<string>do_skill</string>
			<key>id</key>
			<string>42001</string>
		</dict>
		<key>5</key>
		<dict>
			<key>animation</key>
			<string>be_injure</string>
			<key>id</key>
			<string>50000</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>die</string>
			<key>id</key>
			<string>60000</string>
		</dict>
		<key>7</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>70001</string>
		</dict>
	</dict>
	<key>200000</key>
	<dict>
		<key>0</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>11000</string>
		</dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>dead</string>
			<key>id</key>
			<string>10003</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>20000</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>30000</string>
		</dict>
		<key>4</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>40000</string>
		</dict>
		<key>41</key>
		<dict>
			<key>animation</key>
			<string>prepare_skill</string>
			<key>id</key>
			<string>41000</string>
		</dict>
		<key>42</key>
		<dict>
			<key>animation</key>
			<string>do_skill</string>
			<key>id</key>
			<string>42001</string>
		</dict>
		<key>5</key>
		<dict>
			<key>animation</key>
			<string>injured</string>
			<key>id</key>
			<string>50000</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>die</string>
			<key>id</key>
			<string>60000</string>
		</dict>
		<key>7</key>
		<dict>
			<key>animation</key>
			<string>arrived</string>
			<key>id</key>
			<string>70001</string>
		</dict>
	</dict>
	<key>300000</key>
	<dict>
		<key>0</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>11000</string>
		</dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>10003</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>20000</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>30000</string>
		</dict>
		<key>4</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>40000</string>
		</dict>
		<key>41</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>41000</string>
		</dict>
		<key>42</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>42001</string>
		</dict>
		<key>5</key>
		<dict>
			<key>animation</key>
			<string>walk</string>
			<key>id</key>
			<string>50000</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>60000</string>
		</dict>
		<key>7</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>70001</string>
		</dict>
	</dict>
	<key>600000</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>20001</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>30001</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>60001</string>
		</dict>
	</dict>
	<key>620011</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>dead</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>60003</string>
		</dict>
	</dict>
	<key>620052</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>dead</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>60005</string>
		</dict>
	</dict>
	<key>620061</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>20001</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>30001</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>60001</string>
		</dict>
	</dict>
	<key>620091</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>dead</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>60005</string>
		</dict>
	</dict>
	<key>620101</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>20001</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>30001</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>60006</string>
		</dict>
	</dict>
	<key>620501</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>30006</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>60001</string>
		</dict>
	</dict>
	<key>602000</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>revenge4</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>revenge4</string>
			<key>id</key>
			<string>20001</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>revenge4</string>
			<key>id</key>
			<string>30001</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>revenge4</string>
			<key>id</key>
			<string>60001</string>
		</dict>
	</dict>
	<key>603000</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>revenge1</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>revenge1</string>
			<key>id</key>
			<string>20001</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>revenge1</string>
			<key>id</key>
			<string>30001</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>revenge1</string>
			<key>id</key>
			<string>60001</string>
		</dict>
	</dict>
	<key>604000</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>revenge4</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>revenge4</string>
			<key>id</key>
			<string>20001</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>revenge4</string>
			<key>id</key>
			<string>30001</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>revenge4</string>
			<key>id</key>
			<string>60001</string>
		</dict>
	</dict>
	<key>610000</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>2</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>20003</string>
		</dict>
		<key>3</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>30002</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>bow</string>
			<key>id</key>
			<string>60002</string>
		</dict>
		<key>8</key>
		<dict>
			<key>animation</key>
			<string>disappear</string>
			<key>id</key>
			<string>80000</string>
		</dict>
	</dict>
	<key>620041</key>
	<dict>
		<key>1</key>
		<dict>
			<key>animation</key>
			<string>normal</string>
			<key>id</key>
			<string>10004</string>
		</dict>
		<key>6</key>
		<dict>
			<key>animation</key>
			<string>happening</string>
			<key>id</key>
			<string>60001</string>
		</dict>
	</dict>
</dict>
</plist>
