<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>950001</key>
	<dict>
		<key>id</key>
		<string>950001</string>
		<key>monster_1_id</key>
		<string>100001</string>
		<key>monster_1_num</key>
		<string>5</string>
		<key>monster_2_id</key>
		<string>100002</string>
		<key>monster_2_num</key>
		<string>5</string>
		<key>monster_3_id</key>
		<string>-1</string>
		<key>monster_3_num</key>
		<string>-1</string>
		<key>monster_4_id</key>
		<string>-1</string>
		<key>monster_4_num</key>
		<string>-1</string>
		<key>monster_5_id</key>
		<string>-1</string>
		<key>monster_5_num</key>
		<string>-1</string>
		<key>monster_count</key>
		<string>2</string>
	</dict>
</dict>
</plist>
