<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xj-%BD%C7ɫ-shanke.cn_1_40_97990.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,0},{233,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,35}}</string>
                <key>sourceSize</key>
                <string>{233,35}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,0},{173,252}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,252}}</string>
                <key>sourceSize</key>
                <string>{213,274}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{165,249}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{165,249}}</string>
                <key>sourceSize</key>
                <string>{213,271}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,0},{165,247}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{165,247}}</string>
                <key>sourceSize</key>
                <string>{203,267}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,0},{169,242}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{169,242}}</string>
                <key>sourceSize</key>
                <string>{203,262}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{179,252}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{179,252}}</string>
                <key>sourceSize</key>
                <string>{213,274}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,0},{177,248}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{177,248}}</string>
                <key>sourceSize</key>
                <string>{213,270}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,0},{173,242}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,242}}</string>
                <key>sourceSize</key>
                <string>{213,264}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{173,245}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,245}}</string>
                <key>sourceSize</key>
                <string>{213,267}</string>
            </dict>
            <key>xj-%BD%C7ɫ-Ԫ%BC%FE 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,0},{173,246}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{173,246}}</string>
                <key>sourceSize</key>
                <string>{209,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_1_pao.png</string>
            <key>size</key>
            <string>{1582,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14e66cfc60014525fb880d1aadd60009:1/1$</string>
            <key>textureFileName</key>
            <string>hero_1_pao.png</string>
        </dict>
    </dict>
</plist>
