<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanke.cn_1_40_97990.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,172},{232,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,34}}</string>
                <key>sourceSize</key>
                <string>{232,34}</string>
            </dict>
            <key>Ԫ%BC%FE 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,0},{200,211}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{200,211}}</string>
                <key>sourceSize</key>
                <string>{224,237}</string>
            </dict>
            <key>Ԫ%BC%FE 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,0},{142,299}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{142,299}}</string>
                <key>sourceSize</key>
                <string>{164,307}</string>
            </dict>
            <key>Ԫ%BC%FE 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2694,0},{131,220}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{131,220}}</string>
                <key>sourceSize</key>
                <string>{151,230}</string>
            </dict>
            <key>Ԫ%BC%FE 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,295}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{234,295}}</string>
                <key>sourceSize</key>
                <string>{260,323}</string>
            </dict>
            <key>Ԫ%BC%FE 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,0},{172,276}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{172,276}}</string>
                <key>sourceSize</key>
                <string>{204,310}</string>
            </dict>
            <key>Ԫ%BC%FE-Ԫ%BC%FE 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2293,0},{137,264}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,264}}</string>
                <key>sourceSize</key>
                <string>{139,264}</string>
            </dict>
            <key>Ԫ%BC%FE-Ԫ%BC%FE 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,0},{156,254}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{156,254}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Ԫ%BC%FE-Ԫ%BC%FE 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,0},{172,246}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{172,246}}</string>
                <key>sourceSize</key>
                <string>{180,258}</string>
            </dict>
            <key>Ԫ%BC%FE-Ԫ%BC%FE 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,0},{140,293}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{140,293}}</string>
                <key>sourceSize</key>
                <string>{150,295}</string>
            </dict>
            <key>Ԫ%BC%FE-Ԫ%BC%FE 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2557,0},{137,245}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{137,245}}</string>
                <key>sourceSize</key>
                <string>{147,249}</string>
            </dict>
            <key>Ԫ%BC%FE-Ԫ%BC%FE 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,0},{175,239}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{175,239}}</string>
                <key>sourceSize</key>
                <string>{185,253}</string>
            </dict>
            <key>Ԫ%BC%FE-Ԫ%BC%FE 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,0},{161,246}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{161,246}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>Ԫ%BC%FE-Ԫ%BC%FE 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,0},{139,266}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{139,266}}</string>
                <key>sourceSize</key>
                <string>{145,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_1_double_jump.png</string>
            <key>size</key>
            <string>{2825,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:324c3f3f198d185d653ee5bac0a447e0:1/1$</string>
            <key>textureFileName</key>
            <string>hero_1_double_jump.png</string>
        </dict>
    </dict>
</plist>
