<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pao_mc-pao_mc_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{234,295}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{234,295}}</string>
                <key>sourceSize</key>
                <string>{260,323}</string>
            </dict>
            <key>pao_mc-pao_mc_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,266},{137,264}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,264}}</string>
                <key>sourceSize</key>
                <string>{139,264}</string>
            </dict>
            <key>pao_mc-pao_mc_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,276},{156,254}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{156,254}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>pao_mc-pao_mc_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,247},{172,246}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{172,246}}</string>
                <key>sourceSize</key>
                <string>{180,258}</string>
            </dict>
            <key>pao_mc-pao_mc_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{140,293}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{140,293}}</string>
                <key>sourceSize</key>
                <string>{150,295}</string>
            </dict>
            <key>pao_mc-pao_mc_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{142,299}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{142,299}}</string>
                <key>sourceSize</key>
                <string>{164,307}</string>
            </dict>
            <key>pao_mc-pao_mc_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{143,281}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{143,281}}</string>
                <key>sourceSize</key>
                <string>{175,291}</string>
            </dict>
            <key>pao_mc-pao_mc_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,299},{141,240}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{141,240}}</string>
                <key>sourceSize</key>
                <string>{175,256}</string>
            </dict>
            <key>pao_mc-pao_mc_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,246},{137,245}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{137,245}}</string>
                <key>sourceSize</key>
                <string>{147,249}</string>
            </dict>
            <key>pao_mc-pao_mc_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,299},{175,239}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{175,239}}</string>
                <key>sourceSize</key>
                <string>{185,253}</string>
            </dict>
            <key>pao_mc-pao_mc_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,0},{161,246}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{161,246}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>pao_mc-pao_mc_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,0},{139,266}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{139,266}}</string>
                <key>sourceSize</key>
                <string>{145,266}</string>
            </dict>
            <key>pao_mc-pao_mc_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,246},{137,245}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{137,245}}</string>
                <key>sourceSize</key>
                <string>{147,249}</string>
            </dict>
            <key>pao_mc-pao_mc_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,299},{175,239}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{175,239}}</string>
                <key>sourceSize</key>
                <string>{185,253}</string>
            </dict>
            <key>pao_mc-pao_mc_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,0},{139,266}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{139,266}}</string>
                <key>sourceSize</key>
                <string>{145,266}</string>
            </dict>
            <key>pao_mc-pao_mc_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,0},{161,246}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{161,246}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>pao_mc-pao_mc_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{140,293}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{140,293}}</string>
                <key>sourceSize</key>
                <string>{150,295}</string>
            </dict>
            <key>pao_mc-pao_mc_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,247},{172,246}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{172,246}}</string>
                <key>sourceSize</key>
                <string>{180,258}</string>
            </dict>
            <key>pao_mc-pao_mc_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,276},{156,254}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{156,254}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>pao_mc-pao_mc_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,266},{137,264}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,264}}</string>
                <key>sourceSize</key>
                <string>{139,264}</string>
            </dict>
            <key>pao_mc-pao_mc_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,0},{172,276}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{172,276}}</string>
                <key>sourceSize</key>
                <string>{204,310}</string>
            </dict>
            <key>pao_mc-pao_mc_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,0},{131,220}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{131,220}}</string>
                <key>sourceSize</key>
                <string>{151,230}</string>
            </dict>
            <key>pao_mc-pao_mc_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,131},{200,211}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{200,211}}</string>
                <key>sourceSize</key>
                <string>{224,237}</string>
            </dict>
            <key>pao_mc-pao_mc_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,299}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{142,299}}</string>
                <key>sourceSize</key>
                <string>{164,307}</string>
            </dict>
            <key>pao_mc-pao_mc_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,504},{233,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,35}}</string>
                <key>sourceSize</key>
                <string>{233,35}</string>
            </dict>
            <key>pao_mc-pao_mc_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,497},{232,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,34}}</string>
                <key>sourceSize</key>
                <string>{232,34}</string>
            </dict>
            <key>pao_mc-pao_mc_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,252},{173,252}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,252}}</string>
                <key>sourceSize</key>
                <string>{213,274}</string>
            </dict>
            <key>pao_mc-pao_mc_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,0},{173,249}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,249}}</string>
                <key>sourceSize</key>
                <string>{213,271}</string>
            </dict>
            <key>pao_mc-pao_mc_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,0},{165,247}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{165,247}}</string>
                <key>sourceSize</key>
                <string>{203,267}</string>
            </dict>
            <key>pao_mc-pao_mc_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,295},{165,242}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{165,242}}</string>
                <key>sourceSize</key>
                <string>{203,262}</string>
            </dict>
            <key>pao_mc-pao_mc_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,0},{173,252}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,252}}</string>
                <key>sourceSize</key>
                <string>{213,274}</string>
            </dict>
            <key>pao_mc-pao_mc_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,249},{173,248}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,248}}</string>
                <key>sourceSize</key>
                <string>{213,270}</string>
            </dict>
            <key>pao_mc-pao_mc_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,295},{173,242}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,242}}</string>
                <key>sourceSize</key>
                <string>{213,264}</string>
            </dict>
            <key>pao_mc-pao_mc_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,331},{173,245}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{173,245}}</string>
                <key>sourceSize</key>
                <string>{213,267}</string>
            </dict>
            <key>pao_mc-pao_mc_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,293},{173,246}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{173,246}}</string>
                <key>sourceSize</key>
                <string>{209,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_1.png</string>
            <key>size</key>
            <string>{2020,539}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd09f6f408996f60c43b70f5e2838198:1/1$</string>
            <key>textureFileName</key>
            <string>hero_1.png</string>
        </dict>
    </dict>
</plist>
