<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelup_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{60,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,362}}</string>
                <key>sourceSize</key>
                <string>{60,362}</string>
            </dict>
            <key>levelup_reward_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{144,396}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,396}}</string>
                <key>sourceSize</key>
                <string>{144,398}</string>
            </dict>
            <key>levelup_reward_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>levelup_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,552},{250,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,50}}</string>
                <key>sourceSize</key>
                <string>{250,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_up_new.png</string>
            <key>size</key>
            <string>{154,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d3613b4786ac3876908493c1d176ec:1/1$</string>
            <key>textureFileName</key>
            <string>level_up_new.png</string>
        </dict>
    </dict>
</plist>
