<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_start_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,498},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hm_start_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,364},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hm_welcome_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1138,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,640}}</string>
                <key>sourceSize</key>
                <string>{1138,640}</string>
            </dict>
            <key>settlement_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{160,360}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,360}}</string>
                <key>sourceSize</key>
                <string>{162,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>welcome.png</string>
            <key>size</key>
            <string>{1304,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfa0ac1a87a2ced2316ab282f9d700ca:1/1$</string>
            <key>textureFileName</key>
            <string>welcome.png</string>
        </dict>
    </dict>
</plist>
