<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>x_skill_912009_mc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,30}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>x_skill_912009_mc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,30}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>x_skill_912009_mc03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,30}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>x_skill_912009_mc04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{76,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,30}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>x_skill_912009_mc05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>x_skill_912009_mc06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>x_skill_912009_mc07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,30}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100002#skill.png</string>
            <key>size</key>
            <string>{524,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a65151189f0fb7c372c5d27cf81f7a6:1/1$</string>
            <key>textureFileName</key>
            <string>100002#skill.png</string>
        </dict>
    </dict>
</plist>
