<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,73},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,210},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,187},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,187},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{20,36}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{73,28}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,134},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,210},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,210},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,134},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,222},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,207},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_13 %B8%B1%B1%BE 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{113,97}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{113,97}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,146}}</string>
                <key>sourceSize</key>
                <string>{112,146}</string>
            </dict>
            <key>tie_mu_zhen_MC-tie_mu_zhen_MC_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{111,134}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{111,134}}</string>
                <key>sourceSize</key>
                <string>{115,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xx_m_203401d.png</string>
            <key>size</key>
            <string>{251,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7e21b709ed63a171011c17432867131:1/1$</string>
            <key>textureFileName</key>
            <string>xx_m_203401d.png</string>
        </dict>
    </dict>
</plist>
